.Button {
    background-color: transparent;
    color: white;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 1.24;
    border-radius: 0.25rem;
    height: 85%;
    padding: 0.455rem;
}

.Search {
    color: white;
    background-color: rgb(73, 78, 83);
    font-size: 19px;
    font-weight: bolder;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075); 
}